
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th class=" table-dark" scope="col">Name</th>
        <th class=" table-dark" scope="col">Last Name</th>
        <th class=" table-dark" scope="col">Email</th>
        <th class=" table-dark" scope="col">Birthday</th>
        <th class=" table-dark" scope="col">Address</th>
        <th class=" table-dark" scope="col">Phone</th>
        <th class=" table-dark" scope="col">Gender</th>
        <th class=" table-dark" scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Palester of Palester">
        <td class=" table-dark">{{Palester.Name}}</td>
        <td class=" table-dark">{{Palester.Last_Name}}</td>
        <td class=" table-dark">{{Palester.email}}</td>
        <td class=" table-dark">{{Palester.Birthdate}}</td>
        <td class=" table-dark">{{Palester.Address}}</td>
        <td class=" table-dark">{{Palester.Phone}}</td>
        <td class=" table-dark">{{Palester.Gender}}</td>
        <td class=" table-dark">{{Palester.Time}}</td>
      </tr>
    </tbody>
   </table>
   <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary btn-block" routerLink="/addusers" type="button">Add Users</button>
   </div>
</div>    