
    <h1 class="text-secondary" style="text-align: center;">
        Here you can see the prices.
    </h1> <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Nr</th>
              <th scope="col">Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>1 Month</td>
              <td>30 $</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>3 Months</td>
              <td>60 $</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>1 Year</td>
              <td>120 $</td>
            </tr>
          </tbody>
      </table>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-block" routerLink="/home" type="button">Go back to home</button>
       </div>
