<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
     <img src='../assets/images/weight.jpg' width="40" height="40">
     Top Kit
     </a>
        <a class="navbar-brand" href="#">
     <img src='../assets/images/contract.jpg' width="40" height="40">
     No Contract
     </a>
     <a class="navbar-brand" href="#">
        <img src='../assets/images/pounds.jpg' width="40" height="40">
        Low Cost
        </a>
        <a class="navbar-brand" href="#">
            <img src='../assets/images/hour.jpg' width="40" height="40">
           24 Hour Opening
            </a>
    </div>
  </nav>
