
    
        <div class=" offset-5 col-4 card text-white bg-dark mb-3 mt-5" style="max-width: 18rem;">
            <div class="card-body"> 
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input #email type="email" id="inputEmail" class="form-control"  ><br> 
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input #password type="password" id="inputPassword" class="form-control"> <br> 
                    <div class="checkbox mb-3">
                    </div>
                    <button class="btn btn-primary btn-block" type="button" (click)="signin(email.value, password.value)">Sign in</button><br>
                    <p>You don'y have an account?Click the button to register.</p> <br>
                    <button class="btn btn-primary btn-block" type="button" routerLink="/register">Sign up</button> 
            </div>
            <div *ngIf="isCorrect" class="alert alert-success" role="alert">
                Identifikim i suksesshem!
            </div>
            <div *ngIf="isCorrect === false" class="alert alert-danger" role="alert">
                Te dhena jo te sakta.
            </div>
        </div>
      
   
 
    
        