<nav class="navbar navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">The Gym</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      
              <button class="btn btn-primary btn-block btn-dark me-md-2" routerLink="/login"  type="button">Sign in</button>
            </div>
          </div>
        </div>
      </nav>
    
  </nav>
