<app-nav-bar></app-nav-bar>
<app-home-nav-bar></app-home-nav-bar>
<div class='container-fluid'>   
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../assets/images/logo.jpg" width="1203" height="400">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/images/team.jpg"  width="1300" height="400">   
            </ng-template> 
            <ng-template ngbSlide>  
                <img src="../assets/images/gym.jpg"  width="1203" height="400">   
            </ng-template>   
            <ng-template ngbSlide>  
                <img src="../assets/images/place.jpg"  width="1203" height="400">   
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/images/2.jpg"  width="1203" height="400"> 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/images/1.jpg" width="1203" height="400">   
            </ng-template>  
        </ngb-carousel>  
    </div>  
</div>
<div class="p-3 mb-2 bg-dark text-white">
    <h1  style="text-align: center;" > Welcome</h1>
    <p>We’re the Gym Group, a totally new way to exercise. Affordable, high-spec nationwide gyms, that make absolutely everybody feel welcome.
       Whatever your starting point, and wherever you want to go, we can help.
       So we’re for everyone who’s had enough of the unbelievably-expensive-monthly-contract gym, or the make-me-feel-judged-the-moment-I-walk-through-the-door gym.
       As you might expect we’re growing fast, and there are new Gyms popping up all over the country. And it’s not just new members we’re winning – we won the ‘Budget Gym of the Year Award’ at the National Fitness Awards 2011.For a start we’re open 24/7, almost every day of the year. And we won’t make you sign a contract that ties you in. All we’ll do is give you the exact amount of encouragement and support you need, and make sure you’ve got the very latest kit to do it on.
       In this site you can see all the information about our gym.</p> 
       <p>If you want information about prices just click the link below:</p>
    <a class="text-white bg-dark" routerLink="/price"><u>Here you can see the prices.</u></a> <br> <br>
    <p style="text-align: center;">Thank you for choosing our gym.</p>
</div>




