<form class="offset-4 col-4 card text-white bg-dark mb-3 mt-5"  [formGroup]="addForm" (ngSubmit)="adduser(addForm.value)">
    <div class="card-body">
        <label for="name" class="sr-only">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter name" formControlName="Name">
      </div>
      <div class="card-body">
        <label for="name" class="sr-only">Last Name</label>
        <input type="text" class="form-control" id="Last_Name" name="Last_Name" placeholder="Enter Last Name" formControlName="Last_Name">
      </div>
    <div class="card-body">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" formControlName="email">
    </div>
    <div class="card-body">
        <label for="name" class="sr-only">Birthdate</label>
        <input type="date" class="form-control" id="Birthdate" name="Birthdate" placeholder="Enter birthdate" formControlName="Birthdate">
      </div>
    <div class="card-body">
        <label for="name" class="sr-only">Phone</label>
        <input type="number" class="form-control" id="Phone" name="Phone" placeholder="Enter mobile number" formControlName="Phone">
      </div>
    <div class="card-body">
        <label for="name" class="sr-only">Address</label>
        <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter address" formControlName="Address">
      </div>
      <div class="card-body">
        <label for="name" class="sr-only">Time</label>
        <input type="text" class="form-control" id="Time" name="Time" placeholder="Enter time" formControlName="Time">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="male" value="male" name="Gender" formControlName="Gender">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Gender" id="female" value="female" formControlName=Gender>
        <label class="form-check-label" for="female">Female</label>
      </div>
    <button type="submit" class="btn btn-primary btn-block">Add User</button>
  </form>

