
<form class="offset-4 col-4 card text-white bg-dark mb-3 mt-5"  [formGroup]="registerForm" (ngSubmit)="createUser(registerForm.value)">
    <div class="card-body">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="name" class="sr-only">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" formControlName="name">
      </div>
    <div class="card-body">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" formControlName="email">
    </div>
    <div class="card-body">
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
    </div>
    <div class="card-body">
        <label for="name" class="sr-only">Birthdate</label>
        <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Enter birthdate" formControlName="birthdate">
      </div>
    <div class="card-body">
        <label for="name" class="sr-only">Mobile</label>
        <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile number" formControlName="mobile">
      </div>
    <div class="card-body">
        <label for="name" class="sr-only">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" formControlName="address">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="male" value="male" name="gender" formControlName="gender">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female" formControlName=gender>
        <label class="form-check-label" for="female">Female</label>
      </div>
    <button type="submit" class="btn btn-primary btn-block">Sign up!</button>
  </form>

